<div class='col-md-1'>
</div>
  <div class='col-md-9'>
    <h1>Ember Show posts</h1>
      <ul class='list-unstyled'>

          {{#each model as |post|}}
            <div class="container">
              <div class="panel panel-primary">
                <li>

                  <div class="panel-heading"><h2>{{post.title}}</h2></div>
                  <hr>
                  <div class='panel-body'>

                    <h4>{{post.body}}</h4>
                  </div>

              </li>
              <br>
            </div>
          </div>
          {{/each}}

        </ul>

      </div>



<div class ='col-md-2'>
</div>
{{ outlet }}
