  <div class='col-md-1'>
  </div>
  <div class='col-md-8'>
    <h1>Ember Show posts</h1>
      <ul class='list-unstyled'>
        {{#each model as |post|}}
          <div class="container">
            <div class="panel panel-primary">
              <div class="panel-heading"><h4>{{post.title}}</h4></div>
                <li>
                  <div class='panel-body'>
                    <h4>
                      {{post.sbody}}
                      {{#if post.isLarge}}
                      {{#link-to 'posts.post.show' post}}....continue{{/link-to}}
                      {{/if}}
                    </h4>
                  </div>  <!--end of panel-body-->
                </li> <!--end of list-->
              </div>  <!--end of panel-info-->
            </div>  <!--end of container-->
        {{/each}} <!--end of each loop-->
      </ul> <!--end of ul-->
    </div>  <!--end col-->
  <div class ='col-md-2'>
  </div>
  {{ outlet }}
