<div class='col-md-1'>
</div>
  <div class='col-md-9'>
    <h1>Ember Show posts</h1>
      <ul class='list-unstyled'>

          {{#each model as |post|}}
            <div class="container">
              <div class="panel panel-info">


                  <div class="panel-heading"><h5>{{post.title}}</h5></div>

                  <li>
                  <div class='panel-body'>

                    <span><mark><h4>{{post.body}}</h4></mark>
                      {{#link-to 'posts.post.show' post}}continue{{/link-to}}

                  </span>
                  </div>
                </li>


            </div>
          </div>
          {{/each}}

        </ul>

      </div>



<div class ='col-md-2'>
</div>
{{ outlet }}
