<div class = 'col-md-4'>
<h1>Show Posts</h1>

<div class="container">
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
  <div class="panel panel-info">
  <div class="panel-heading"><h4>{{model.title}}</h4></div>

  <div class='panel-body'>
  <h4>{{model.body}}</h4>
  <div class="panel-footer">
  {{#link-to 'posts.post.edit' model }}<button class ='btn btn-success'>Edit</button>{{/link-to}}

  <button {{action 'delete'}}  class="btn btn-danger pull-right">Delete</button>
  </div>
  </div>
</div>
</div>
</div>
</div>

{{outlet}}
