
  <br>
  <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-primary">
          <div class="panel-heading"><h5>Edit Post</h5></div>
          <div class="panel-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="itemId" class="col-sm-2 control-label">Title</label>
                <div class="col-sm-10">
                  {{input type="text" class="form-control" id="title" placeholder=" Edit title" value= model.title}}
                </div>
              </div>

              <div class="form-group">
                <label for="itemId" class="col-sm-2 control-label">Body</label>
                <div class="col-sm-10">
                  {{textarea type="text" class="form-control" id="body" placeholder="Edit content of body" value= model.body}}
                </div>
              </div>




            </form>
          </div> <!-- panel body-->
          <div class="panel-footer">
            <button type="submit" class="btn btn-success btn-lg" {{action 'save' model}}>Save</button>
            <span>  OR  </span>
            <button type="submit" class="btn btn-danger btn-lg" {{action 'cancel'}}>Cancel</button>
          </div> <!-- panel footer-->
        </div>
      </div>
  </div>
