<nav class = "navbar navbar-default navbar-fixed-top navbar-inverse " role = "navigation">
  <div class = "container-fluid">
    <div class = "navbae-header">
      <button type = "button" class = "navbar-toggle collapsed" data-toggle ="collapse" data-target = "#bs-example-navbar-collapse-1" aria-expanded="true">
        <span class = "sr-only">Toggle navigation</span>
        <span class = "sr-only"></span>
        <span class = "sr-only"></span>
        <span class = "sr-only"></span>
      </button>
      <a class ="navbar-brand" href ="#">Home</a>
    </div>
    <div class ="collapse navbar-collapse" id ="bs-example-navbar-1">
      <ul class = "nav navbar-nav">
        <li>{{#link-to 'posts'}}Posts{{/link-to}}</li>

      </ul>
    </div>
  </div>

</nav>

{{outlet}}
